
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
    background-color:  #F4D58D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: #001427;
    font-size: 64px;
}

p{
    font-size: 24px;
}

.header-text{
    margin-bottom: 24px;
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 72px;

}

.body-text p {
    text-align: center;
    font-weight: bold;
    
}

.body-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button{
    background-color: #708D81;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    border-radius: 12px;
    margin-top: 16px;
    font-size: 28px;
    color:white ;
}

#top-message{
    color:#8D0801;
    font-style: italic;
}

#top-message{
    font-size: 40px;
}